{:paths ["src"]
 :deps {org.tcrawley/dynapath {:mvn/version "1.0.0"}
        viebel/gadjett {:mvn/version "0.5.8"}
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.9.7"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        org.clojure/tools.deps.alpha {:mvn/version "0.5.452"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        io.aviso/pretty {:mvn/version "0.1.35"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
                              hawk {:mvn/version "0.2.11"}}}}}
